<h1> This is the new view </h1>

<!--
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Username: <input type="text" name="user[username]"><br>
    Email: <input type="email" name="user[email]"><br>
    Password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Submit">
</form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <br>
    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email) %>
    <br>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>
    <br>
    <%= submit_tag("Create User") %>    
<% end %>
-->

<%= form_for @user do |f| %>
    Username:  <%= f.text_field :username, placeholder: "Any name you'd like" %>
    <br>
    Email: <%= f.email_field :email, placeholder: "example@email.com" %>
    <br>
    Password: <%= f.password_field :password %>
    <br>
    <%= f.submit "Create User" %>
<% end %>
